<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="Azure">
    <contentSearch>
      <searchServiceClient set:type="Sitecore.Support.ContentSearch.Azure.Http.SearchServiceClient, Sitecore.Support.227363"/>
      <httpClientFactory set:type="Sitecore.Support.ContentSearch.Azure.Http.HttpClientFactory, Sitecore.Support.227363"/>
      <searchService set:type="Sitecore.Support.ContentSearch.Azure.Http.SearchService, Sitecore.Support.227363"/>
      <schemaSynchronizer set:type="Sitecore.Support.ContentSearch.Azure.Schema.SearchServiceSchemaSynchronizer, Sitecore.Support.227363"/>
    </contentSearch>
  </sitecore>
</configuration>